.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u2314-8,#u2315-8,#u2316-8
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u2314-4,#u2315-4,#u2316-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

