.quote---text
{
	font-family: open-sans-n3, sans-serif;
}

.quote---author
{
	font-family: open-sans-n6, sans-serif;
}

#u583-4,#u585-2,#u581-3,#u686-4,#u667-4,#u685-4,#u1990-4,#u1106-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u668-4,#u670-4,#u672-4,#u1025-7,#u1098-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1108-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1144-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1110-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1145-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1991-4,#u1173-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u583-7,#u585-8,#u581-7,#u1339-3,#u1175-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1179-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1178-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1298-4,#u1197-4,#widgetu1171.frm-subm-ok-st #u1181-4 p,#u1181-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1185-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u1184-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#widgetu1172_input,#widgetu1172_prompt,#widgetu1176_input,#widgetu1176_prompt,#widgetu1183_input,#widgetu1183_prompt
{
	font-family: source-sans-pro, sans-serif;
}

#u1339,#u1196-3
{
	font-family: source-sans-pro-n7, sans-serif;
}

#u1196,#u1196-5
{
	font-family: source-sans-pro-n4, sans-serif;
}

