.version.index /* version checker */
{
	color: #00000B;
	background-color: #A46541;
}

.html
{
	background-color: #EAEAE9;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.87533437065576px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
	width: 0.01px;
}

#slideshowu638
{
	z-index: 14;
	width: 0.01px;
	height: 680px;
	position: relative;
	margin-right: -10000px;
}

#u640popup
{
	z-index: 15;
}

#u641
{
	z-index: 16;
	width: 1160px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pbuttonu394
{
	width: 0.01px;
	padding-bottom: 22px;
	margin-left: 592px;
	margin-top: -658px;
}

#buttonu394
{
	z-index: 229;
	width: 40px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 592px;
}

#buttonu394:hover
{
	width: 40px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu394.ButtonSelected
{
	width: 40px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#u398
{
	z-index: 230;
	position: relative;
	margin-right: -10000px;
}

#buttonu487
{
	z-index: 233;
	width: 90px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 638px;
}

#buttonu487:hover
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu487.ButtonSelected
{
	width: 90px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#u482
{
	z-index: 234;
	position: relative;
	margin-right: -10000px;
}

#buttonu423
{
	z-index: 231;
	width: 86px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 734px;
}

#buttonu423:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu423.ButtonSelected
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#u350
{
	z-index: 232;
	position: relative;
	margin-right: -10000px;
}

#buttonu320
{
	z-index: 223;
	width: 57px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 826px;
}

#buttonu320:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu320.ButtonSelected
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#u711
{
	z-index: 224;
	position: relative;
	margin-right: -10000px;
}

#buttonu333
{
	z-index: 225;
	width: 92px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 889px;
}

#buttonu333:hover
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu333.ButtonSelected
{
	width: 92px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#u355
{
	z-index: 226;
	position: relative;
	margin-right: -10000px;
}

#buttonu340
{
	z-index: 227;
	width: 62px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 3px;
	position: fixed;
	top: -14px;
	left: 987px;
}

#buttonu340:hover
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

#buttonu340.ButtonSelected
{
	width: 62px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/streep.svg") repeat-x center bottom;
	background-size: 50px 5px;
}

.nosvg #buttonu394:hover,.nosvg #buttonu394.ButtonSelected,.nosvg #buttonu487:hover,.nosvg #buttonu487.ButtonSelected,.nosvg #buttonu423:hover,.nosvg #buttonu423.ButtonSelected,.nosvg #buttonu320:hover,.nosvg #buttonu320.ButtonSelected,.nosvg #buttonu333:hover,.nosvg #buttonu333.ButtonSelected,.nosvg #buttonu340:hover,.nosvg #buttonu340.ButtonSelected
{
	background-image: url('../images/streep_poster_u323.png');
}

#u360
{
	z-index: 228;
	position: relative;
	margin-right: -10000px;
}

#u622
{
	z-index: 59;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -609px;
	margin-bottom: -25px;
	position: relative;
}

#ppamphletu578
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: -549px;
}

#pamphletu578
{
	z-index: 20;
	width: 0.01px;
	height: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 300px;
}

#u588
{
	z-index: 21;
	width: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 335px;
}

#u591
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F8C137;
	border-radius: 100px;
}

#u591:hover
{
	background-color: #1C1C20;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u591.PamphletThumbSelected
{
	background-color: #1C1C20;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u590
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F8C137;
	border-radius: 100px;
	left: 19px;
}

#u590:hover
{
	background-color: #1C1C20;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u589
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F8C137;
	border-radius: 100px;
	left: 37px;
}

#u589:hover
{
	background-color: #1C1C20;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u1336
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: none;
	border-color: transparent;
	background-color: #F8C137;
	border-radius: 100px;
	left: 56px;
}

#u1336:hover
{
	background-color: #1C1C20;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u590.PamphletThumbSelected,#u589.PamphletThumbSelected,#u1336.PamphletThumbSelected
{
	background-color: #1C1C20;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u579
{
	position: absolute;
	width: 710px;
	background-color: transparent;
}

#u579popup
{
	z-index: 26;
}

#u582
{
	z-index: 27;
	width: 710px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u583-7
{
	z-index: 28;
	width: 710px;
	min-height: 60px;
	background-color: transparent;
	color: #1C1C20;
	line-height: 48px;
	font-size: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u584
{
	z-index: 35;
	width: 710px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u585-8
{
	z-index: 36;
	width: 710px;
	min-height: 60px;
	background-color: transparent;
	color: #1C1C20;
	line-height: 48px;
	font-size: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u580
{
	z-index: 44;
	width: 710px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u581-7
{
	z-index: 45;
	width: 710px;
	min-height: 60px;
	background-color: transparent;
	color: #1C1C20;
	line-height: 48px;
	font-size: 40px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u583-5,#u585-4,#u581-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u583-4,#u585-2,#u581-3
{
	font-size: 50px;
	color: #F8C137;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	line-height: 60px;
}

#u583-3,#u585,#u585-3,#u581-4
{
	line-height: 48px;
}

#u1337
{
	z-index: 52;
	width: 710px;
	height: 120px;
	border-style: none;
	border-color: transparent;
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(107,107,107,0.01);
}

#u1339-6
{
	z-index: 53;
	width: 405px;
	min-height: 54px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 175px;
}

#u1339-3
{
	font-size: 40px;
	line-height: 48px;
	color: #1C1C20;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u1339
{
	color: #F8C137;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u1928
{
	z-index: 210;
	position: relative;
	margin-right: -10000px;
}

#u463
{
	z-index: 8;
	height: 680px;
}

#u463-bw
{
	z-index: 8;
	height: 680px;
}

#u916
{
	z-index: 9;
	min-height: 537px;
	background-color: #F0F0EF;
	background-color: rgba(234,234,233,0.7);
	padding-bottom: 143px;
	-pie-background: rgba(234,234,233,0.7);
}

#pu686-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 22px;
}

#u686-4
{
	z-index: 84;
	width: 352px;
	min-height: 30px;
	background-color: transparent;
	color: #F8C137;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u668-4
{
	z-index: 68;
	width: 352px;
	min-height: 165px;
	background-color: transparent;
	color: #1C1C20;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#pu667-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 404px;
}

#u667-4
{
	z-index: 64;
	width: 352px;
	min-height: 30px;
	background-color: transparent;
	color: #F8C137;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u670-4
{
	z-index: 72;
	width: 352px;
	min-height: 165px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u1965
{
	z-index: 211;
	margin-left: 49px;
	margin-top: 31px;
	position: relative;
}

#pu685-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 108px;
	margin-left: 786px;
}

#u685-4
{
	z-index: 80;
	width: 352px;
	min-height: 30px;
	background-color: transparent;
	color: #F8C137;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u672-4
{
	z-index: 76;
	width: 352px;
	min-height: 165px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u916-bw
{
	z-index: 9;
	min-height: 537px;
}

#slideshowu687
{
	z-index: 10;
	width: 0.01px;
	height: 680px;
	left: -100px;
	position: relative;
}

#u689popup
{
	z-index: 11;
}

#u690
{
	z-index: 12;
	width: 1160px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

#pu660
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -680px;
}

#u660
{
	z-index: 60;
	height: 680px;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u660-bw
{
	z-index: 60;
	height: 680px;
}

#u1025-7
{
	z-index: 89;
	width: 590px;
	min-height: 321px;
	background-color: transparent;
	color: #1C1C1F;
	line-height: 29px;
	text-align: left;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 197px;
	left: 100px;
}

#u1970
{
	z-index: 212;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 735px;
}

#u1990-4
{
	z-index: 215;
	width: 382px;
	min-height: 30px;
	background-color: transparent;
	color: #F8C137;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 100px;
}

#pslideshowu638,#pu463,#pu918
{
	width: 0.01px;
	margin-left: -100px;
}

#u918
{
	z-index: 7;
	height: 787px;
}

.ie #u463,.ie #u660,.ie #u918
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u918-bw
{
	z-index: 7;
	height: 787px;
}

#home,#co-creation,#workshop,#products
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 569px;
}

#pamphletu1101
{
	z-index: 96;
	width: 0.01px;
	height: 564px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 121px;
}

#u1113
{
	position: absolute;
	width: 596px;
	background-color: transparent;
	left: 373px;
}

#u1113popup
{
	z-index: 97;
}

#u1119
{
	z-index: 98;
	width: 596px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1945
{
	z-index: 99;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1114
{
	z-index: 100;
	width: 596px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1950
{
	z-index: 101;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u1124
{
	z-index: 102;
	width: 596px;
	height: 562px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1955
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
}

#u1104
{
	z-index: 104;
	width: 369px;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u1105
{
	position: absolute;
	width: 369px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 67px;
}

#u1105:hover
{
	width: 369px;
	min-height: 0px;
	margin: 0px;
}

#u1105.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 369px;
	min-height: 0px;
	margin: 0px;
}

#u1106-4
{
	z-index: 106;
	width: 369px;
	min-height: 139px;
	background-color: transparent;
	color: #F8C137;
	line-height: 42px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
}

#u1105:hover #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 139px;
	width: 369px;
	margin: 0px -10000px 0px 0px;
}

#u1105.PamphletThumbSelected #u1106-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 139px;
	width: 369px;
	margin: 0px -10000px 0px 0px;
}

#u1105:hover #u1106-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1098-4
{
	z-index: 110;
	width: 352px;
	min-height: 84px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u1105:hover #u1098-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 352px;
	margin: 44px -10000px 0px 0px;
}

#u1105.PamphletThumbSelected #u1098-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 352px;
	margin: 44px -10000px 0px 0px;
}

#u1107
{
	position: absolute;
	width: 374px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 55px;
	top: 203px;
	left: -5px;
}

#u1107:hover
{
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1107.PamphletThumbSelected
{
	background-color: transparent;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1108-4
{
	z-index: 115;
	width: 368px;
	min-height: 134px;
	background-color: transparent;
	color: #F8C137;
	line-height: 42px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 6px;
}

#u1107:hover #u1108-4
{
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 368px;
	margin: 8px -10000px 0px 0px;
}

#u1107.PamphletThumbSelected #u1108-4
{
	border-color: #DEDEDE;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 134px;
	width: 368px;
	margin: 8px -10000px 0px 0px;
}

#u1107:hover #u1108-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1144-4
{
	z-index: 119;
	width: 352px;
	min-height: 84px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 6px;
}

#u1107:hover #u1144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 352px;
	margin: 51px -10000px 0px 0px;
}

#u1109
{
	position: absolute;
	width: 370px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 358px;
	left: -1px;
}

#u1109:hover
{
	width: 370px;
	min-height: 0px;
	margin: 0px;
}

#u1109.PamphletThumbSelected
{
	width: 370px;
	min-height: 0px;
	margin: 0px;
}

#u1110-4
{
	z-index: 124;
	width: 368px;
	min-height: 135px;
	border-color: #DEDEDE;
	background-color: transparent;
	color: #F8C137;
	line-height: 42px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u1109:hover #u1110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 135px;
	width: 368px;
	margin: 0px -10000px 0px 0px;
}

#u1109.PamphletThumbSelected #u1110-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 135px;
	width: 368px;
	margin: 0px -10000px 0px 0px;
}

#u1109:hover #u1110-4 p
{
	color: #6B6B6B;
	visibility: inherit;
}

#u1105.PamphletThumbSelected #u1106-4 p,#u1107.PamphletThumbSelected #u1108-4 p,#u1109.PamphletThumbSelected #u1110-4 p
{
	color: #6B6B6B;
	visibility: inherit;
	line-height: 1.4;
}

#u1145-4
{
	z-index: 128;
	width: 352px;
	min-height: 84px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 2px;
}

#u1107.PamphletThumbSelected #u1144-4,#u1109:hover #u1145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 352px;
	margin: 51px -10000px 0px 0px;
}

#u1109.PamphletThumbSelected #u1145-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 84px;
	width: 352px;
	margin: 51px -10000px 0px 0px;
}

#u1105.PamphletThumbSelected #u1098-4 p,#u1107.PamphletThumbSelected #u1144-4 p,#u1109.PamphletThumbSelected #u1145-4 p
{
	font-size: 12px;
}

#slideshowu1224
{
	z-index: 2;
	width: 0.01px;
	height: 680px;
	left: -100px;
	position: relative;
}

#u640,#u689,#u1225
{
	position: absolute;
	width: 1160px;
	height: 680px;
	background-color: transparent;
}

#u1225popup
{
	z-index: 3;
}

#u1226
{
	z-index: 4;
	width: 1160px;
	height: 680px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	margin-right: -10000px;
	position: relative;
}

#project
{
	margin-left: 469px;
	top: -674px;
	margin-bottom: -18px;
	position: relative;
}

#ppu1991-4
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: -530px;
}

#pu1991-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u1991-4
{
	z-index: 219;
	width: 505px;
	min-height: 30px;
	background-color: transparent;
	color: #F8C137;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
}

#u1298-4
{
	z-index: 206;
	width: 503px;
	min-height: 317px;
	background-color: transparent;
	color: #1C1C20;
	line-height: 22px;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 2px;
	margin-top: 4px;
	position: relative;
}

#pu1283
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 616px;
}

#u1283
{
	z-index: 204;
	position: relative;
}

#u1288
{
	z-index: 205;
	margin-left: 43px;
	margin-top: 57px;
	position: relative;
}

#u1975
{
	z-index: 213;
	width: 361px;
	background-color: transparent;
	margin-top: 56px;
	position: relative;
}

#pu920
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 127px;
}

#u920
{
	z-index: 6;
	min-height: 850px;
	background-color: transparent;
}

#u916_align_to_page,#u920_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u920_position_content
{
	margin-top: -1px;
	padding-bottom: 224px;
}

#contact
{
	left: 569px;
	position: relative;
}

#u1197-4
{
	z-index: 196;
	width: 322px;
	min-height: 29px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	left: 430px;
	margin-top: 477px;
	position: relative;
}

#pu1218
{
	width: 0.01px;
	left: 425px;
	margin-top: 18px;
	position: relative;
}

#u1218
{
	z-index: 203;
	position: relative;
	margin-right: -10000px;
}

#u1198
{
	z-index: 200;
	position: relative;
	margin-right: -10000px;
	left: 87px;
}

#u1208
{
	z-index: 201;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u1213
{
	z-index: 202;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u920-bw
{
	z-index: 6;
	min-height: 850px;
}

#widgetu1171
{
	z-index: 132;
	width: 0.01px;
	height: 269px;
	position: relative;
	margin-right: -10000px;
	margin-top: 201px;
	left: 421px;
}

#widgetu1172
{
	z-index: 133;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#widgetu1172.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1173-4
{
	z-index: 134;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1C1C20;
	line-height: 14px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u1175-4
{
	z-index: 138;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1172.non-empty-st #u1175-4
{
	background-color: #FFFFFF;
}

#widgetu1172:hover #u1175-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1172.focus-st #u1175-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1172.non-empty-st #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1172:hover #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1172.focus-st #u1175-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1176
{
	z-index: 142;
	width: 342px;
	height: 47px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: -1px;
}

#widgetu1176.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 47px;
	min-height: 0px;
	margin: 60px -10000px 0px 0px;
}

#u1179-4
{
	z-index: 143;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1C1C20;
	line-height: 14px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1176.fld-err-st #u1179-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u1178-4
{
	z-index: 147;
	width: 328px;
	min-height: 14px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1176.non-empty-st #u1178-4
{
	background-color: #FFFFFF;
}

#widgetu1176:hover #u1178-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1176.focus-st #u1178-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1172.fld-err-st #u1175-4,#widgetu1176.fld-err-st #u1178-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1176.non-empty-st #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1176:hover #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1176.focus-st #u1178-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1172_input,#widgetu1172_prompt,#widgetu1176_input,#widgetu1176_prompt
{
	width: 328px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#u1182-4
{
	z-index: 151;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 140px;
}

#widgetu1171.frm-sub-st #u1182-4 p
{
	color: #999999;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1187-4
{
	z-index: 155;
	width: 200px;
	min-height: 28px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 140px;
}

#widgetu1171.frm-subm-err-st #u1187-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 32px;
}

#widgetu1171.frm-subm-err-st #u1187-4 p
{
	color: #D7244C;
	font-size: 14px;
	line-height: 1;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u1181-4
{
	z-index: 159;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 140px;
}

#widgetu1171.frm-sub-st #u1182-4,#widgetu1171.frm-subm-ok-st #u1181-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu1171.frm-subm-ok-st #u1181-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#u1180-17
{
	z-index: 163;
	min-height: 31px;
	width: 131px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	background: url("../images/u1180-17.png") no-repeat 0px 0px;
}

#u1180-17:hover
{
	background: url("../images/u1180-17-r.png") no-repeat 0px 0px;
}

#u1180-17:active
{
	background: url("../images/u1180-17-m.png") no-repeat 0px 0px;
}

#widgetu1171.frm-sub-st #u1180-17
{
	background: url("../images/u1180-17-fs.png") no-repeat 0px 0px;
}

#widgetu1183
{
	z-index: 180;
	width: 342px;
	height: 101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: -1px;
}

#widgetu1183.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 342px;
	height: 101px;
	min-height: 0px;
	margin: 120px -10000px 0px 0px;
}

#u1185-4
{
	z-index: 181;
	width: 200px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #1C1C20;
	line-height: 14px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#widgetu1172.fld-err-st #u1173-4,#widgetu1183.fld-err-st #u1185-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#widgetu1172.fld-err-st #u1173-4 p,#widgetu1172.fld-err-st #u1173-4 span,#widgetu1176.fld-err-st #u1179-4 p,#widgetu1176.fld-err-st #u1179-4 span,#widgetu1183.fld-err-st #u1185-4 p,#widgetu1183.fld-err-st #u1185-4 span
{
	color: #D7244C;
}

#u1184-4
{
	z-index: 185;
	width: 328px;
	min-height: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	padding: 6px;
	color: #C4C4C4;
	line-height: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#widgetu1183.non-empty-st #u1184-4
{
	background-color: #FFFFFF;
}

#widgetu1183:hover #u1184-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1183.focus-st #u1184-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1183.fld-err-st #u1184-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 68px;
	width: 328px;
	margin: 19px -10000px 0px 0px;
}

#widgetu1183.non-empty-st #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1183:hover #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1183.focus-st #u1184-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu1172.fld-err-st #u1175-4 *,#widgetu1176.fld-err-st #u1178-4 *,#widgetu1183.fld-err-st #u1184-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1183_input,#widgetu1183_prompt
{
	width: 328px;
	min-height: 68px;
	color: #C4C4C4;
	font-family: source-sans-pro, sans-serif;
	font-style: italic;
	font-weight: 300;
	padding: 6px;
}

#widgetu1172.focus-st #widgetu1172_prompt,#widgetu1176.focus-st #widgetu1176_prompt,#widgetu1183.focus-st #widgetu1183_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
	visibility: hidden;
}

#widgetu1172:hover #widgetu1172_input,#widgetu1172.focus-st #widgetu1172_input,#widgetu1172.fld-err-st #widgetu1172_input,#widgetu1172:hover #widgetu1172_prompt,#widgetu1172.fld-err-st #widgetu1172_prompt,#widgetu1176:hover #widgetu1176_input,#widgetu1176.focus-st #widgetu1176_input,#widgetu1176.fld-err-st #widgetu1176_input,#widgetu1176:hover #widgetu1176_prompt,#widgetu1176.fld-err-st #widgetu1176_prompt,#widgetu1183:hover #widgetu1183_input,#widgetu1183.focus-st #widgetu1183_input,#widgetu1183.fld-err-st #widgetu1183_input,#widgetu1183:hover #widgetu1183_prompt,#widgetu1183.fld-err-st #widgetu1183_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu1172.non-empty-st #widgetu1172_prompt,#widgetu1176.non-empty-st #widgetu1176_prompt,#widgetu1183.non-empty-st #widgetu1183_prompt
{
	visibility: hidden;
}

#u1196-7
{
	z-index: 189;
	min-height: 115px;
	background-color: transparent;
	text-align: center;
}

#u1196-3
{
	font-size: 60px;
	line-height: 72px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u1196
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u1196-5
{
	font-size: 30px;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u1196-7-bw
{
	z-index: 189;
	min-height: 115px;
	margin-top: 72px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

